body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1 {
  color: white;
  font-size: 70px;
}

ul {
  list-style: none;

}

a {
  color: white;
  font-size: 18px;
  
}

.header {
  background-image: url("../images/flatiron-building.png");
}
